<%- include("./partials/header") %>
    <link rel="stylesheet" href="/css/add.css" type="text/css">
    <div class="container">
        <div class="add">
            <div>
                Add new categorie
            </div>
            <form action="/add" method="POST" id="myform">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" required class="form-control" id="name" name="cat[name]" placeholder="Name">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cat[status]" id="active" value="active" checked>
                    <label class="form-check-label" for="active">Active</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="cat[status]" id="block" value=" block">
                    <label class="form-check-label " for="block"> Block</label>
                </div>
                <div>
                    <button id="submit" type="submit" class="btn btn-warning ">Submit</button>
                </div>
                <p id="required"></p>
            </form>
        </div>
    </div>

    <script>
        var name = $("#myform input[name=name]").val()
        $('#submit').on('click', function() {
            if ($("#myform #name").val() == "") {
                $("#required").text("*All fields are required")
                return false
            }
        });
    </script>

    <!--<form action="/add" method="POST">
        <div>
            <input type="text" placeholder="name" name="name">
        </div>
        <div>
            <p>select status</p>
            active <input type="radio" name="status" value="active"> blocked
            <input type="radio" name="status" value="block">
        </div>
        <button>submit</button>
    </form>
-->

    <%- include("./partials/footer") %>