<%if(Object.keys(products).length != 0){%>
    <div class="dropdown">
        <form method="GET" id="form3">
            <input type="text" name="name" placeholder="search">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter
    <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    Price
                    <input type="number" name="price1" min="0">-
                    <input type="number" name="price2">
                    <input type="hidden" name="id" value="<%=products[0].categorie%>">
                    <input type="radio" name="sort" value=-1>high to low
                    <input type="radio" name="sort" value=1 checked>Low to high
                    <input type="radio" name="date" value=-1 checked>new to old
                    <input type="radio" name="date" value=1>old to new


                </li>
            </ul>
            <input type="hidden" name="id" value="<%=products[0].categorie%>">
            <button class="btn btn-warning btn-sm">search</button>
        </form>
    </div>
    <%}%>
        <script>
            $(function() {
                $("#form3").submit(function(event) {
                    event.preventDefault();
                    $.ajax({
                        type: 'GET',
                        url: '/sort/products',
                        data: $('#form3').serialize(),
                        datatype: 'jsonp',
                        success: function(k) {
                            var t = $('#con')
                            var se = $('#se')
                            t.html('')
                            se.html('')
                            successq(k);
                        }
                    });
                });
            });

            function successq(k) {
                var se = $('#se')
                console.log(k)
                if (k.length == 0) {
                    se.append('<h1 id="message">product not found</div>')
                }
                k.forEach(function(e) {
                    $('#price').html('price' + e.price)
                    se.append('\
                <div class="row" >\
                    <div class="column">\
                        <div class="card">\
                            <img src="http://localhost:3000/' + e.image + '" alt="Denim Jeans" style="width:100%">\
                            <h1>' + e.name + '</h1>\
                            <p class="price">' + e.price + '</p>\
                             <p>' + e.quantity + '</p>\
                        </div>\
                    </div>\
                </div>\
                            ');
                });
            }
        </script>


        <style>
            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                max-width: 300px;
                margin: auto;
                text-align: center;
                font-family: arial;
            }
            
            .price {
                color: grey;
                font-size: 22px;
            }
            
            .column {
                float: left;
                width: 25%;
                padding: 0 10px;
            }
            
            .row {
                margin: 0 -5px;
            }
            
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
        </style>