.add {
    width: 40%;
    height: 40%;
    margin: 25px;
    border: 1px solid #FF9900;
    padding: 5vh;
    box-shadow: #FF9900 1px 1px 2px 2px;
    border-radius: 3px;
}

.container {
    margin: 10%;
}