h4 {
    margin-top: 2%;
}

table {
    margin: 5%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

#mychart {
    width: 10%;
    height: 10%;
}