body {
    margin: 1%;
}

.jumbotron {
    height: 5%;
    background-color: rgb(13, 3, 54);
}

.thumbnail img {
    width: 45%;
}

.thumbnail {
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.cards {
    background-color: rgba(255, 158, 31, 0.562);
    /* width: 25%; */
    height: 50%;
    margin-left: 5%;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 2%;
}