.navbar {
    margin: -1%;
    margin-top: -1%;
    background-color: #f0ad4e;
}

.navbar-default {
    border-radius: 0;
}

.chip {
    float: left;
    margin: 0 10px 0 -25px;
    margin-left: 1px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.alert {
    width: 50%;
    background-color: rgba(252, 170, 19, 0.411);
    color: black;
    text-align: center;
    margin-left: 23%;
}

#message {
    color: rgb(0, 0, 73);
    margin-left: 35%;
    font-size: 135%;
}