<%- include("../partials/header") %>
    <link rel="stylesheet" href="/css/add.css" type="text/css">
    <div class="container row">
        <div class="add col-md-6">
            <div>
                Register
            </div>
            <form action="/register" method="POST" id="myform" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" required class="form-control" id="name" name="username" placeholder="Name">
                </div>

                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" required class="form-control" id="password" name="password" placeholder="password">
                </div>

                <div class="form-group">
                    <label for="input-files">Profile picture</label>
                    <input type="file" required name="picture" id="input-files" class="form-control-file border" />
                </div>

                <div>
                    <button id="submit" type="submit" class="btn btn-warning ">Submit</button>
                </div>
                <p id="required"></p>
            </form>
            <div>
                <div>
                    Login
                </div>
                <form action="/login" method="POST" id="myform">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" required class="form-control" id="name" name="username" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" required class="form-control" id="password" name="password" placeholder="password">
                    </div>

                    <div>
                        <button id="submit" type="submit" class="btn btn-warning ">Submit</button>
                    </div>
                    <p id="required"></p>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/css/Ecommerce-High-Quality-PNG.png" alt="">
        </div>
    </div>


    <%- include("../partials/footer") %>